<a [routerLink]="event.id" class="flex flex-col justify-between shadow-2xl rounded-2xl p-3 mb-4 gap-4"
   aria-labelledby="title">
  <div class="flex flex-row gap-2">
    <div
      class="rounded-2xl bg-neutral-300 p-2 flex justify-center items-center gap-4 min-w-[50px] w-full">
      <div class="uppercase">{{ event.date | date: 'shortDate' }}</div>
    </div>
    <div class="rounded-2xl bg-[#383e97] p-2 flex flex-col justify-center items-center w-full">
      <div class="font-bold text-white uppercase">{{ event.type }}</div>
    </div>
  </div>
  <div class="px-4 flex-1">
    <h3 id="title" class="font-bold text-xl">{{ event.title }}</h3>
    <ng-container [ngSwitch]="event.type">
        <ng-container *ngSwitchCase="'talk'">
          <div class="text-sm italic">par {{ event.speaker }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="'round-table'">
          <ul>
            <li *ngFor="let invitee of event.invitees">
              <div class="text-sm italic">{{ invitee }}</div>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngSwitchCase="'workshop'">
          <div class="text-sm italic">{{ event.location }}</div>
        </ng-container>
      </ng-container>
  </div>
</a>
