<form [formGroup]="form" class="flex flex-col">
  <mat-form-field>
    <mat-label>Dans quelle version les Standalone sont-ils devenus stables ?</mat-label>
    <mat-select formControlName="version">
      <mat-option value="15">15</mat-option>
      <mat-option value="16">16</mat-option>
      <mat-option value="17">17</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Partagez votre expérience avec cet exercice</mat-label>
    <input matInput type="text" formControlName="review"/>
  </mat-form-field>
</form>
