<div [ngSwitch]="loginStatus">
  <div *ngSwitchCase="'loggedIn'">
    <h2>Welcome, User!</h2>
    <p>You are now logged in.</p>
  </div>

  <div *ngSwitchCase="'loggedOut'">
    <h2>Please Log In</h2>
    <p>You are currently logged out. Please log in to continue.</p>
  </div>

  <div *ngSwitchCase="'loading'">
    <h2>Loading...</h2>
    <p>Checking your login status. Please wait.</p>
  </div>

  <div *ngSwitchDefault>
    <h2>Error</h2>
    <p>Something went wrong. Please try again later.</p>
  </div>
</div>

<mat-form-field>
  <mat-label>Sélectionner un statut : </mat-label>
  <mat-select [(ngModel)]="loginStatus">
    <mat-option value="loggedIn">loggedIn</mat-option>
    <mat-option value="loggedOut">loggedOut</mat-option>
    <mat-option value="loading">loading</mat-option>
    <mat-option value="else">else</mat-option>
  </mat-select>
</mat-form-field>
