<header class="flex items-center justify-end gap-4 mb-4">
  @if (cart$ | async; as cart) {
  <div>Total: {{ getTotalPrice(cart) }}</div>
    <a
      routerLink="cart"
      mat-icon-button
      [matBadge]="cart.length"
      aria-label="Shopping cart"
    >
      <mat-icon>shopping_cart</mat-icon>
    </a>
  }
</header>

<ul class="flex flex-col gap-4">
  @for (product of products; track product.id) {
    <li class="flex items-center justify-between">
      <span>{{ product.name }}</span>
      <button mat-stroked-button color="primary" (click)="add(product)">
        Add
      </button>
    </li>
  }
</ul>
